
/*Universal selector*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    background-color: rgb(220, 220, 236);
}

a{
    border-bottom-style:solid;
    border-bottom-width: 3px;
    border-bottom-color:#96e0e0;
}


/*Class selector to set all header objets on the same line*/
.header{ 
    color:#96e0e0;
    background-color:rgb(48, 48, 48);
    width: 100%;
    position:relative;
    height: 100px;
}

a:link{
    text-decoration:none;
}

a:visited{
    text-decoration:none;
}

a:active{
    text-decoration:none;
}

a:hover{
    text-decoration:none;
}

li a{
    padding: 5px;
}

h3 a{
    padding: 5px;
}

.header-text-container{
    color:rgb(48, 48, 48);
    background-color:#96e0e0;
    width:max-content;
    padding: 15px;
    position:absolute;
    top:50%;
    transform: translate(0, -50%);
}

/*Class selector to set all list items in the header on the same line*/
.header ul li{
    display: inline-flex;
    justify-content: space-evenly;
    margin-left: 25px;    
}

.header-list{
    position: absolute;
    top:50%;
    transform: translate(0, -50%);
    right:25px;
}

.header-list a{
    color:#96e0e0;
}



/*Class selector to set all contact items in the same line*/
.contact-me-container{
    display: inline-flex;
    justify-content:space-evenly;
    align-items:center;
}

.contact-me-item{
    margin-left:20px;
}

.contact-me-item a{
    color:black;
    border-bottom-color:rgb(29, 28, 53);
}


.intro-image-container{
    position:relative;
}

.intro-image{
    width: 100%;
    height: 200px;
    object-fit:cover;
}
.intro-image-text-container{
    background-color:#96e0e0;
    width:max-content;
    padding: 15px;
    position:absolute;
    bottom:15px;
    right:15px;
}

.body-sections{
    display:inline-flex;
}

.section-divider{
    border-right: 2px;
    border-right-color: rgb(29, 28, 53);
    border-right-style:solid;
    margin-inline:5px;
    min-width:250px;
    text-align:right;
    padding:10px;
    color:rgb(29, 28, 53);
}

.section-text{
    font-family:'Arial', 'Helvetica', 'sans-serif';
    margin-left: 35px;
}

.work-box-container{
    flex-wrap: wrap;
    display: flex;
    margin-left:30px;
    max-width: 1000px;
}


.work-box-large{
    max-height: 500px;
    width: 100%;
    margin: 5px;
}

.work-box-small{
    max-height: 250px;
    height: 49%;
    width: 49%;
    margin: 5px;
}

.work-box{
    border-radius: 10px;
    border-width: 5px;
    border-style:solid;
    border-color:#96e0e0;
    position:relative;
    overflow:hidden;
    
}

.work-image:hover{
    transition: filter 0.3s ease-out;
    filter: brightness(1);
}

.work-image{
    transition: filter 0.3s ease-out;
    filter:brightness(0.85);
}    

.work-image img{
    object-fit: cover; 
    object-position: 50% 0%;
    width:100%;
    height:100%;
}


.text-container{
    background-color:#96e0e0;
    width:max-content;
    padding: 15px;
    position:absolute;
    bottom:15px;
}
